---
import { ViewTransitions } from "astro:transitions"
import Container from "~/components/Container.astro"
import Header from "~/components/Header.astro"
import Footer from "~/components/Footer.astro"
import { config } from "~/config"
import { removeHttp } from "@curiousleaf/utils"
import { env } from "~/variables"

import "~/styles/tailwind.css"
import "@fontsource-variable/inter"

interface Props {
  title: string
  description?: string
  ogImage?: string
}

const { title, description, ogImage } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, env.SITE_URL)
const socialImageURL = new URL(ogImage ?? "opengraph.png", Astro.url.origin)
const metaTitle = `${title} – ${config.title}`
const metaDescription = description || config.description
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={removeHttp(Astro.site?.toString())} />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={socialImageURL} />

    <ViewTransitions fallback="none" />
  </head>

  <body class="bg-zinc-50 text-black">
    <Container class="flex flex-col gap-12 min-h-screen md:gap-16 lg:gap-20">
      <Header transition:name="page header" transition:persist />

      <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
        <slot />
      </main>

      <Footer transition:name="page footer" transition:persist />
    </Container>

    <style is:global>
      :root {
        --headline-font-features: "case", "ss01", "ss03", "cv01", "cv06", "cv10";
        --body-font-features: "case", "ss01", "ss03";
      }

      body {
        font-feature-settings: var(--body-font-features);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-feature-settings: var(--heading-font-features);
      }
    </style>

    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-8KPPXJCSJY"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-8KPPXJCSJY")
    </script>
  </body>
</html>
