---
import Card from "~/components/Card.astro"
import { badgeVariants, listVariants } from "~/styles"
import Favicon from "~/components/Favicon.astro"
import type { Tool } from "~/queries/tools"

type Props = {
  tool: Pick<Tool, "id" | "slug" | "website" | "name" | "description" | "category">
}

const tool = Astro.props.tool!

// <span class={badgeVariants({ size: "sm" })}>
//   <Star class="size-3 -ml-0.5 text-gray-400" />
//   {getRandomNumber(0, 25000).toLocaleString()} stars
// </span>
---

<Card href={`/tool/${tool.slug}`} showPattern transition:name={`tool ${tool.id} box`}>
  <Favicon url={tool.website} transition:name={`tool ${tool.id} favicon`} />

  <div class={listVariants({ direction: "column" })}>
    <div class={listVariants()}>
      <h3 class="text-lg font-semibold" transition:name={`tool ${tool.id} title`}>{tool.name}</h3>
    </div>

    <p class="text-gray-600 text-sm line-clamp-2" transition:name={`tool ${tool.id} description`}>
      {tool.description}
    </p>
  </div>

  {
    !!tool.category?.length && (
      <div
        class:list={["mt-auto", listVariants({ size: "sm" })]}
        transition:name={`tool ${tool.id} categories`}
      >
        <span class={badgeVariants({ theme: "pink" })}>{tool.category[0]?.name}</span>

        {tool.category.length > 1 && (
          <span class="text-gray-500 text-2xs">+{tool.category.length - 1} more</span>
        )}
      </div>
    )
  }
</Card>
