---
import Layout from "~/layouts/Layout.astro"
import ToolCard from "~/components/cards/ToolCard.astro"
import Card from "~/components/Card.astro"
import { client } from "~/services/apollo"
import { getToolsQuery } from "~/queries/tools"
import type { RemoveNull } from "~/env"
import Grid from "~/components/Grid.astro"
import Intro from "~/components/Intro.astro"
import { buttonVariants, inputVariants, listVariants } from "~/styles"
import { config } from "~/config"
import { Blocks, DollarSign, Mail, Plus } from "lucide-astro"
import { Image } from "astro:assets"

const { data } = await client.query({
  query: getToolsQuery,
  variables: { orderBy: { score: "desc" }, filter: null },
})

const tools = data.tools as RemoveNull<typeof data.tools>
---

<Layout title={config.tagline}>
  <Intro>
    <h2 class="font-normal text-[21px] leading-normal text-gray-600" slot="description">
      Discover <strong class="text-black font-semibold">Open Source Alternatives</strong> to Popular
      Software.<br />We’ve curated some great open source alternatives to tools that your business
      requires in day-to-day operations.
    </h2>

    <div class={listVariants()}>
      <a
        href="https://www.producthunt.com/posts/openalternative?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-openalternative"
        target="_blank"
      >
        <Image
          src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=443404&theme=light"
          alt="OpenAlternative - Discover open source alternatives to popular software | Product Hunt"
          style="width: 176px; height: 38px;"
          width="176"
          height="38"
        />
      </a>

      <form
        method="POST"
        action="https://assets.mailerlite.com/jsonp/860414/forms/115156283238123220/subscribe"
        target="_blank"
        class={listVariants({ size: "sm" })}
      >
        <input type="hidden" name="ml-submit" value="1" aria-invalid="false" />
        <div class="relative">
          <Mail
            class="absolute left-3 top-1/2 z-10 size-4 opacity-75 pointer-events-none -translate-y-1/2"
          />
          <input
            type="email"
            name="fields[email]"
            data-inputmask=""
            placeholder="Get weekly newsletter"
            autocomplete="email"
            aria-invalid="false"
            required
            class={inputVariants({ className: "pl-9" })}
          />
        </div>
        <button type="submit" class={buttonVariants({ theme: "primary" })}>Subscribe</button>
      </form>
    </div>
  </Intro>

  <Grid>
    {
      tools?.map((tool, index) => (
        <Fragment key={index}>
          {index === 3 && (
            <Card
              href="https://buy.stripe.com/3cs7uy3zDdxyg7u9AA"
              target="_blank"
              class="sm:col-span-2"
              showPattern
            >
              <h3 class="text-2xl font-semibold text-gray-800">Advertise on {config.title}</h3>
              <p class="text-gray-600">
                Reach thousands of developers and businesses looking for open source alternatives to
                popular software.
              </p>

              <span class:list={["mt-4", buttonVariants({ theme: "primary" })]}>
                <DollarSign class="size-4 opacity-75" />
                Advertise
              </span>
            </Card>
          )}
          <ToolCard tool={tool} />
        </Fragment>
      ))
    }
  </Grid>
</Layout>
