---
import Logo from "~/components/Logo.astro"
import { config } from "~/config"
import { linkVariants, listVariants } from "~/styles"

const alternatives = [
  { name: "Notion", slug: "notion" },
  { name: "Salesforce", slug: "salesforce" },
  { name: "HubSpot", slug: "hubspot" },
  { name: "Typeform", slug: "typeform" },
  { name: "Calendly", slug: "calendly" },
]
---

<div class="flex flex-col justify-between gap-8 mt-auto py-8 sm:flex-row md:gap-10">
  <div class:list={["", listVariants({ direction: "column", size: "lg" })]}>
    <Logo loading="lazy" />

    <div class="prose leading-normal max-w-[50ch]">
      <p>
        <strong>{config.title}</strong> is a community driven list of open source alternatives to proprietary
        software and applications.
      </p>
      <p>
        Our goal is to be your first stop when researching for a new open source service to help you
        grow your business. We will help you find alternatives and reviews of the products you
        already use.
      </p>
    </div>

    <div class:list={["mt-4 text-sm", listVariants()]}>
      <a
        href="https://github.com/piotrkulpinski/openalternative"
        class={linkVariants()}
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Source Code
      </a>
      <a
        href="https://twitter.com/piotrkulpinski"
        class={linkVariants()}
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        Twitter/X
      </a>
    </div>
  </div>

  <div class:list={[" text-sm", listVariants({ direction: "column" })]}>
    <strong class="mb-2">Explore</strong>
    <a href="/about" class={linkVariants()}>About Us</a>
    <a href="/categories" class={linkVariants()}>Categories</a>
    <a href="/alternatives" class={linkVariants()}>Alternatives</a>
    <a href="/languages" class={linkVariants()}>Languages</a>
    <a href="/topics" class={linkVariants()}>Topics</a>
  </div>

  <div class:list={["text-sm", listVariants({ direction: "column" })]}>
    <strong class="mb-2">Big Tech Alternatives</strong>
    {
      alternatives.map((alternative) => (
        <a href={`/alternatives-to/${alternative.slug}`} class={linkVariants()}>
          {alternative.name} Alternatives
        </a>
      ))
    }
  </div>
</div>
